@import url('https://fonts.googleapis.com/css?family=Nunito');

.spotify-frame {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.spotify {
    width: 100%;
    height: 100%;
    margin-top: 0.75em;
}

.spotify-text {
    text-align: center;
    padding-top: 1em;
    font-size: 1.5em;
    font-family: 'Nunito', sans-serif;
}